body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    
}

h1 {
    color: #2e8b57;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #8b2e85;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}