
body {
    background-color: #fff0f5;
    font-family: 'Courier New', Courier, monospace;
    color: #444;

   
}

h1 {
    color: #a07da0;
}

ul {
    list-style-type: square;
    padding: 0;
}

a {
    color: #8b008b;
    text-decoration: none;
    font-weight: bold;
}

